<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="mobile.android.demo.sina.microblog" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="樂博">
		<activity android:name=".MicroBlog" android:label="樂博">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".WriteMicroBlog" android:label="發佈新微博">
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".Comments" android:label="評論"
			android:theme="@android:style/Theme.Dialog">
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".Repost" android:label="轉發"
			android:theme="@android:style/Theme.Dialog">
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".BigPicture" android:label="顯示大圖">
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".FaceList" android:label="選擇表情"
			android:theme="@android:style/Theme.Dialog">
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".EditImage" android:label="編輯影像"  android:screenOrientation="portrait">
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
			<activity android:name="About" android:label="關於"  >
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="3" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>     